<link rel='stylesheet' href='/stylesheets/chat.css' />
<script src="/javascripts/chat.js"></script>
<div>
  <h1>Simple Chat</h1>
  <div id="err-msg"></div>
  <form id="send-msg">
    name:<input type="text" id="name" placeholder="nick name" required autofocus>
    message:<input type="text" id="message" required>
    <input type="submit" value="send" >
  </form>
  <hr/>
  <div id="chatlog">
        <p id="more" >now loading...</p>
        <input id="oldestDate"type="hidden" value="<%=(new Date()).getTime()%>">
  </div>
</div>
